[Unit]
Description=IHMC Logger
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/ihmc/logger/bin/IHMCLogger -l ${DEPLOY_WITH_LOCK_FILE}
User=${USER}
Group=${USER}
Restart=always

[Install]
WantedBy=multi-user.target
